$white: #fff;
$semi_white: #f1f1f1;
$black: #222222;
$hover: #ff5a3c;
$semi_hover: #fff6f4;
$dark: #ddd;
$secondary_color: #7551ec;
$default_color: #555;
$fb_link_bg: #3b5999;
$twitter_link_bg: #55acee;
$pinterest_linbk_bg: #bd081c;
$default_size: 16px;
$default_font: 'Poppins', sans-serif;
$btn_padding: 10px 25px;
$bold_weight: 600;